/*
Template: 
Author: vaibhav
Version: 1.0
Design and Developed by: 
NOTE: This is main stylesheet of template SCSS is require to modify this theme
*/
/*================================================
[  Table of contents  ]
================================================

:: Fonts
:: Root Control
:: Header
:: All Sections
:: Footer
:: Resposnsive Control


======================================
[ End table content ]
======================================*/
/*---------------------------------------------------------------------
  HTML Tags
-----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Ubuntu:wght@300;400&display=swap");
:root {
  --navbar-bg-color: hsl(0, 0%, 100%);
  --navbar-text-color: #333333;
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
  --primary-color: #056DB6;
  --dark-color-theme: #333333;
  --dark-color-white: #ffffff;
  --sky-light-color: #04D2C8;
  --purple-color: #9A57F2;
  --green-color: #5EBB28;
  --fonts-ubuntu: 'Ubuntu', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

::-moz-selection {
  color: var(--dark-color-white);
  background: var(--sky-light-color);
}

::selection {
  color: var(--dark-color-white);
  background: var(--sky-light-color);
}

.container-menu {
  max-width: 1200px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  --navbar-height: 90px;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-item {
  margin: 0.4em;
  font-size: 14px;
}

div#navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-link:is(:focus,
:hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus,
:hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--primary-color);
}

.navbar-logo img {
  width: 65px;
  margin-top: 8px;
  position: relative;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus,
:hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child,
:last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  top: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--dark-color-white);
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
}

.button-primary-outless {
  background-color: var(--dark-color-white);
  color: var(--primary-color);
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
}

.button-primary-transparent {
  background-color: transparent;
  color: var(--dark-color-white);
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: 1px solid var(--dark-color-white);
}

/*---------------------------------------------------------------------
                    Page start
-----------------------------------------------------------------------*/

.hero-banner {
  padding: 300px 10px 80px 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/bigstock-Asian-Boy-Student-Video-Confer-360258775.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bigstock-Asian-Boy-Student-Video-Confer-360258775.png);
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
}

.second-block {
  margin: 30px 0px 10px 0px;
}

.top-heading h2 {
  color: var(--dark-color-theme);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 35px;
}

.fab-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--primary-color);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  position: relative;
  padding: 30px;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05);
}

.fab-sky {
  background-color: var(--sky-light-color);
}

.fab-green {
  background-color: var(--green-color);
}

.fab-purple {
  background-color: var(--purple-color);
}

.w-50 {
  max-width: 800px;
}

.fab-circle img {
  width: 50px;
  height: auto;
  background-position: center;
}

.fab-heading h5 {
  color: var(--dark-color-theme);
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
}

.fab-heading {
  padding-left: 0.8rem;
}

.icon-box p {
  color: var(--dark-color-theme);
  font-size: 0.9rem;
}

.video-image img {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  max-width: 100%;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-banner h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: var(--dark-color-white);
}

.icon-box-banner {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 30px 18px 30px 18px;
  color: var(--dark-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-box-banner h5 {
  color: var(--dark-color-white);
}

.fab-square img {
  max-width: 60px;
}

.icon-box-banner p {
  font-size: 15px;
  line-height: 22px;
}

.icon-box-banner h5 {
  font-size: 23px;
}

.third-section {
  padding: 75px 10px 75px 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/img-pc.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/img-pc.png);
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
}

.comp-image img {
  width: 100%;
  max-width: 100%;
}

.featureListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.well {
  background-color: #ffffee;
}

#content {
  padding: 25% 25% 5%;
}

.search-input input[type="text"] {
  border-radius: 30px 0 0 30px;
  height: 50px;
  width: 48%;
  color: #ABABAB;
  padding-left: 40px;
}

.search-input {
  margin-top: 30px;
}

.input-group {
  width: 100%;
}

input-group-btn {
  max-width: 38px;
}

#search {
  border: 1px;
}

.search-btn {
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  background-color: #fff;
  color: var(--dark-color-white);
  height: 50px;
  padding: 0 30px;
  border-color: var(--primary-color);
  background: var(--primary-color);
  margin-left: -5px;
  border: 1px var(--primary-color);
}

.text-center {
  color: #fff;
}

.search-input {
  text-align: center;
}

.featureListItem__icon,
.featureListItem__description {
  padding: 5px 15px;
}

.featureListItem__icon {
  font-size: 50px;
  line-height: 0;
}

.featureListItem__description {
  color: var(--dark-color-white);
  font-size: 0.9rem;
}

.details-box h1 {
  color: var(--dark-color-white);
  font-size: 2.3rem;
  font-family: var(--fonts-ubuntu);
}

.details-box p {
  color: var(--dark-color-white);
  font-size: 0.9rem;
  padding: 18px 0px 18px 0px;
}

.blue-section {
  padding: 62px 0px 50px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 109, 182, 0.7)), to(rgba(5, 109, 182, 0.7))), url(../images/asset-2.png);
  background-image: linear-gradient(rgba(5, 109, 182, 0.7), rgba(5, 109, 182, 0.7)), url(../images/asset-2.png);
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
  line-height: 50px;
}

.text-box h3 {
  font-family: var(--fonts-ubuntu);
  color: var(--dark-color-white);
  font-size: 1.3rem;
}

.blue-section h1 {
  font-family: var(--fonts-ubuntu);
  color: var(--dark-color-white);
  font-size: 1.7rem;
}

footer {
  background-color: #2B2B2B;
  color: var(--dark-color-white);
  padding: 60px 0px 45px 0px;
  line-height: 36px;
}

footer a {
  color: var(--dark-color-white);
}

footer ul {
  list-style: none;
}

@media screen and (min-width: 767px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }
  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #navbar {
    position: fixed;
    --navbar-height: 70px;
  }
  .navbar-logo img {
    width: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .fix-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-set {
    min-width: 100%;
    padding: 10px;
  }
  .button-primary-outless {
    padding: 8px 20px 8px 20px;
    font-size: 0.9rem;
  }
  .button-primary-transparent {
    padding: 8px 20px 8px 20px;
    font-size: 0.9rem;
  }
  .button-primary {
    padding: 8px 20px 8px 20px;
    font-size: 0.9rem;
  }
  .navbar-item {
    margin: 0rem;
    font-size: 12px;
  }
  .fab-heading {
    padding: 0rem;
  }
  .fab-square {
    padding-left: 20px;
  }
  .icon-box-banner p {
    font-size: 13px;
  }
  .hero-banner h1 {
    font-size: 26px;
  }
  .icon-box-banner h5 {
    font-size: 20px;
  }
  .top-heading h2 {
    font-size: 30px;
  }
  .details-box h1 {
    font-size: 1.9rem;
  }
  .details-box p {
    font-size: 14px;
  }
  .featureListItem__description {
    font-size: 14px;
  }
  .icon-box-banner {
    padding: 20px 18px 20px 18px;
  }
  .search-input input[type="text"] {
    height: 45px;
    padding-left: 18px;
    font-size: 0.8rem;
  }
  .search-btn {
    height: 45px;
    padding: 0 22px;
    font-size: 0.8rem;
  }
  .hero-banner {
    padding: 200px 10px 60px 10px;
  }
  .text-box h1 {
    font-size: 1.5rem;
  }
  .text-box h3 {
    font-size: 1.1rem;
  }
  .text-box {
    line-height: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .button-primary-outless {
    padding: 10px 30px 10px 30px;
    margin: 0px;
    margin-right: 1rem;
  }
  .button-primary {
    padding: 10px 30px 10px 30px;
  }
  .icon-box-banner {
    padding: 30px 18px 30px 18px;
  }
  .search-input input[type="text"] {
    border-radius: 30px 0 0 30px;
    height: 50px;
    width: 48%;
    color: #ABABAB;
    padding-left: 40px;
  }
  .search-input {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */